/*credit to w3schools.com for tutorials on web design*/
#background {
    height: 100%;
    background-image: url('images/background.jpg');
}

h1, h2,h3,h4, h5, h6, p,form,div,table{
  font-family: 'Ubuntu';
  color: maroon;
}

#title {
    color: maroon;
    text-align: center;
    font-family: 'Ubuntu';
    border-width: 5px;
    margin-right: 10%;
    display: block;
}

.r3-button
{
  color: gold;
  background-color: maroon;
  border-color: black;
  border-radius: 12px;
  font-size:16px;
  margin: 4px 2px;
}

.r3-button:hover {
  color: #f1f1f1;
}

#instructionsHeader
{
  font-family: 'Ubuntu';
  text-align: center;
  font-size:20px;
  color:maroon;
}

#instructions
{
  display: inline-block;
  font-family: 'Ubuntu';
  text-align: left;
  font-size:20px;
  color:maroon;
}

.clickableXText
{
  text-decoration:none;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: maroon; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: gold;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

.teamProfileImages
{
  width: 4%;
  height: 4%;
  border: none;
}
.teamProfileImages:hover
{
  opacity: .7;
}
#teamProfileImages
{
  display: inline-block;
  text-align:  center;
}


table, th, td
{
  font-size: 15px;
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
  text-align: left;
}

#pitScoutingTextBox
{
  width: 100%;
  resize:none;
}

/*for modal boxes on all pages*/

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  /*background-color: #fefefe;*/
  background-image: url('images/background.jpg');
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.tabs
{
  font-size:20px;
}

.scoutingTableRow
{
  padding-bottom: 12px;
  padding-top: 12px;
}

.question, .match-element, .allTeamsRow
{
  text-align: center;
}

#configExportLink
{
  color: gold;
  background-color: maroon;
  border-color: black;
  border-radius: 12px;
  font-size:16px;
  padding: 6px 7px;
  margin: 4px 2px;
}

#configExportLink:hover
{
  color:#f1f1f1;
}