/*credit to w3schools.com for tutorials on web design*/
#background {
    height: 100%;
    background-image: url('images/background.jpg');
}

html, body
{
  font-family: 'Ubuntu';
  color: maroon;
  margin: 5px;
}

html {
  height: 95%;
}

body {
  min-height: 90%;
}

code
{
  font-size:18px;
}

.title {
  color: gold;
  padding-top: 10px;
  font-size:26px;
}

.r3-button
{
  font-family: 'Ubuntu';
  color: gold;
  background-color: maroon;
  border-color: black;
  border-radius: 12px;
  font-size:16px;
  margin: 4px 2px;
}

.r3-button:hover {
  color: #f1f1f1;
}

#instructions
{
  display: inline-block;
  text-align: left;
  font-size:20px;
}

.clickableXText
{
  text-decoration:none;
}

.navbar
{
  background-color: maroon;
}

.nav-button
{
  color: gold;
  text-decoration: none;
  font-size:20px;
}

.nav-button:hover
{
  background-color: gold;
  color: maroon;
}

table, th, td
{
  font-size: 15px;
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
  text-align: left;
}

#pitScoutingTextBox
{
  width: 100%;
  resize:none;
}

/*for modal boxes on all pages*/

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  /*background-color: #fefefe;*/
  background-image: url('images/background.jpg');
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.tabs
{
  font-size:20px;
}

.scoutingTableRow
{
  padding-bottom: 12px;
  padding-top: 12px;
}

.allPitTableHeader, .allMatchTableHeader
{
  background-color:maroon;
  color:gold;
}

#allTeamsPitAnswers-Div, #allMatchAnswers-Div
{
  max-width: 800px;
}

#allTeamsPitAnswers, #allMatchAnswers
{
  display:block;
  overflow-x:auto;
}

#allTeamsPitAnswers *, #allMatchAnswers *
{
  padding-bottom: 12px;
  padding-top: 12px;
}

.allPitTableHeader, .allMatchTableHeader
{
  border-bottom: 2px solid gold;
}

.tableBorders
{
  border: 2px solid maroon;
}

.tableBorder-right:not(:last-child)
{
  border-right: 2px solid maroon;
}

table .tableBorders-NoTop:not(:first-child)
{
  border-top:none;
}

.question, .match-element, .allTeamsRow
{
  text-align: center;
}

.constrainWidth
{ 
  overflow-wrap: break-word;
}

#configExportLink
{
  color: gold;
  background-color: maroon;
  border-color: black;
  border-radius: 12px;
  font-size:16px;
  padding: 6px 7px;
  margin: 4px 2px;
}

#configExportLink:hover
{
  color:#f1f1f1;
}