---

---
<!DOCTYPE html>
<html>
    {% include head.html %}
    
    <body id="background">
        {% include nav.html %}

        <div id= 'teamDataAlertModal' class='modal'>
            <div class='modal-content' id = 'tDataModalContent'>
                <span class='close' onclick = 'closeTDataModal()'>&times;</span>
            </div>
        </div>

        <h2 style="text-align:center">Team Data</h2>
        <h3 style='text-align:center' id='tDataIntroText'></h3><br>

        <h3 style='text-align:left' id='fieldsetTitle'></h3>
        <fieldset>
            <form id="teamRadioList" style="font-size:18px" onchange="changeCurrTeam()"></form>
        </fieldset>

        <h3 style='text-align:center;text-decoration:underline' id='teamStatsTitle'></h3>
    </body>

    <div class='w3-container'>
        <fieldset>
            <div class="w3-row ">
                <a href="javascript:void(0)" onclick= 'displayTabContent(event, "pitTabContent");'>
                    <div class=" w3-half w3-center w3-bottombar-maroon w3-hover-khaki w3-padding tabs">Pit Scouting</div>
                </a>
                <a href="javascript:void(0)" id = 'matchTab' onclick='displayTabContent(event, "matchTabContent")'>
                    <div class=" w3-half w3-center w3-bottombar-maroon w3-hover-khaki w3-padding tabs">Match Scouting</div>
                </a>
            </div>
        
            
            
            
            <div id='pitTabContent' style='display:none' class='w3-container w3-animate-fading tabContent'>
                <h3>Pit Scouting</h3>
                <h4>Here, enter and view answers to pit scouting questions. If you need to edit the questions, go to the 
                    <a href="season-config.html">Season Configuration</a> page.<br><br>
                    The answers you save will override previous answers.
                </h4>
                <!--<h4 id='questionConfirmation'></h4>-->

                <h3 id='pitScoutingTitle' class='js_clear_on_load'></h3>
                <table id='pitQuestionTable'>
                    <!--<tr class='q-tr'>
                        <th class='q-th'><b>Question</b></th> 
                        <th class='q-th'><b>Answer</b></th> 
                    </tr>-->
                </table>
                <i>
                    <h4 id='pitTableConfirmation' class='js_clear_on_load'></h4>
                </i>
                <button class = "r3-button" id="savePitAnswers">Save</button>

                <br><br>
                <h3 id='allPitAnswersTitle'></h3>
                <table id='allTeamsPitAnswers'>
                </table>
            </div>
        
            
            
            
            <div id='matchTabContent' style='display:none' class='w3-container w3-animate-fading tabContent'>
                <h3>Match Scouting</h3>
                <h4>Here, enter custom notes about the selected team and input game element stats for a given match.
                    If you need to edit/add game elements, go to the <a href="season-config.html">Season Configuration</a> page.
                </h4>

                <table id='matchQuestionTable'>
                </table>
                <i>
                    <h4 id='matchTableConfirmation' class='js_clear_on_load'></h4>
                </i>
                <button id = 'matchTableSubmit' class = "r3-button">Save</button>


                <h3 id='allMatchAnswersTableTitle' class='js_clear_on_load'></h3>
                <table id='allMatchAnswers' class='js_clear_on_load'>

                </table>

            </div>
        </fieldset>
    </div>
</html>