{% comment %} tag for this page is {% include nav.html %} {% endcomment %}

<div class = 'navbar w3-bar' style='text-align: center'>
    <a class = 'nav-button w3-bar-block w3-button w3-mobile' href="index.html">Home</a>
    <a class = 'nav-button w3-bar-block w3-button w3-mobile' href="season-config.html">Season Configuration</a>
    <a class = 'nav-button w3-bar-block w3-button w3-mobile' href="event-data.html">Event Data</a>
    <a class = 'nav-button w3-bar-block w3-button w3-mobile' href="team-data.html">Team Data</a>
    <a class = 'nav-button w3-bar-block w3-button w3-mobile' href="importing-exporting-data.html">Importing and Exporting Data</a>
</div>